name: CI

on:
  push:
    branches: [main]
    paths-ignore:
      - "*.md"
      - "LICENSE*"
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libssl-dev \
            pkg-config \
            libxkbcommon-dev \
            libwayland-dev \
            libvulkan-dev \
            libfontconfig1-dev \
            libxcb-shape0-dev \
            libxcb-xfixes0-dev \
            libxcb1-dev \
            libxkbcommon-x11-dev

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt, clippy

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-check-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-check-

      - name: cargo check
        run: cargo check --workspace

      - name: cargo test
        run: cargo test --workspace

      - name: cargo clippy
        run: cargo clippy --workspace -- -D warnings

      - name: cargo fmt
        run: cargo fmt --all -- --check
